body {
    background-color: #F9FAFC;
}

.logo {
    color: #E60026;
    font-size: 30px;
}

.logod {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.logon {
    color: #E60026;
    font-size: 30px;
    font-weight: bold;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: black;
}

.main-bg {
    background-color: white;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: 3px;
    right: 3px;
}

.author-cat {
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 15vh;
    width: 100%;
}

.masthead-text {
    color: black;
    position: relative;
    height: 25vh;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    height: 50vh;
    overflow: hidden;
    text-align: center;
}

.post-image {
    max-width: 75%;
    max-height: 100%;
}

/* .masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: black;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    transform: skew(45deg);
    z-index: 100;
} */

.post-link {
    text-decoration: none;
    color: white;
}

.post-link:hover {
    color: white;
}

.page-link {
    color: black;
}

.post-title {
    margin-left: 5%;
}

.post-category {
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: black;
}

.btn-signup {
    background-color: white;
    color: black;
    font-weight: bold;
    border: 2px solid #E60026;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #E60026;
    color: white;
}

.link {
    color: white;
    background-color: black;
    border: 2px solid #E60026;
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: white;
    text-decoration: underline;
}

.btn-like {
    color: #E60026;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E60026;
    background: transparent;
    border: none;
}

.text-black {
    color: black;
    font-weight: bold;
}

.text-white {
    color: white;
    font-weight: bold;
}

.text-breaking {
    color: white;
    font-weight: bold;
}

.text-breaking:hover {
    color: #E60026;
}

.searchbutton {
    color: white;
    border: 2px solid #E60026;
    font-weight: bold;
}

.searchbutton:hover {
    color: black;
    background-color: #E60026;
    border: 2px solid #E60026;
}

.image-container {
    display: inline-block;
    overflow: hidden;
}

.image-container img {
    display: block;
    transition: transform .4s;
}

.image-container:hover img {
    transform: scale(1.05);
    transform-origin: 50% 50%;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.nav-block {
    width: 100%;
    padding: 0 5px 0 5px;
    border-bottom: 2px solid black;
}

.ham {
    color: white;
    font-size: 30px;
}

.comments {
    border-bottom: 1px3 solid black;
    box-shadow: 10px 14px 34px 0px rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: 10px 14px 34px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 10px 14px 34px 0px rgba(0, 0, 0, 0.27);
}

.foot {
    margin: 15px;
    text-align: center;
}

.catfoot {
    border-bottom: 1px solid white;
}

.foot i {
    font-size: 20px;
    margin-bottom: 20px;
}

.navul {
    padding-left: 30px;
}

.socials ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.socials li {
    float: left;
    padding-left: 20px;
    color: transparent;
}

.breakingimg {
    background: url(https://res.cloudinary.com/nikv5296/image/upload/v1642980250/pexels-pixabay-162540_x50eo1.jpg) no-repeat center center;
    background-size: 100%;
    width: 100%;
    height: 150px;
    text-align: center;
}

.worldimg {
    background: url(https://res.cloudinary.com/nikv5296/image/upload/v1642967746/pexels-pixabay-41949_ocwwsc.jpg) no-repeat center center;
    background-size: 100%;
    width: 100%;
    height: 150px;
    text-align: center;
}

.techimg {
    background: url(https://res.cloudinary.com/nikv5296/image/upload/v1643101494/pexels-thisisengineering-3861969_iykwao.jpg) no-repeat center center;
    background-size: 100%;
    width: 100%;
    height: 150px;
    text-align: center;
}

.businessimg {
    background: url(https://res.cloudinary.com/nikv5296/image/upload/v1642980246/pexels-startup-stock-photos-7097_g1remq.jpg) no-repeat center center;
    background-size: 100%;
    width: 100%;
    height: 160px;
    text-align: center;
}

.sportimg {
    background: url(https://res.cloudinary.com/nikv5296/image/upload/v1642980230/pexels-victor-freitas-841130_j5gbms.jpg) no-repeat center center;
    background-size: 100%;
    width: 100%;
    height: 150px;
    text-align: center;
}

.travelimg {
    background: url(https://res.cloudinary.com/nikv5296/image/upload/v1642980261/pexels-asad-photo-maldives-1591373_lbhdsh.jpg) no-repeat center center;
    background-size: 100%;
    width: 100%;
    height: 150px;
    text-align: center;
}

.mediaimg {
    background: url(https://res.cloudinary.com/nikv5296/image/upload/v1642980256/pexels-brett-sayles-1426044_jiy7on.jpg) no-repeat center center;
    background-size: 100%;
    width: 100%;
    height: 150px;
    text-align: center;
}

.card-body {
    border-bottom: 2px solid black;
}

.catheading {
    font-size: 6vh;
    vertical-align: middle;
}

.next-btn {
    font-weight: bold;
}

.h2-box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 992px) {
    .navbar-nav {
        padding: 20px;
    }
}

@media screen and (max-width: 800px) {

    .masthead-image {
        height: 35vh;
    }
}

@media screen and (max-width: 450px) {

    #id_body {
        width: 80vw;
    }
}

@media screen and (max-width: 350px) {
    .mobile-nav {
        margin: 10px;
    }

    .masthead-image {
        height: 30vh;
    }


}

.outer-clock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.clock {
    width: 200px;
}

.clock_time {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(https://res.cloudinary.com/nikv5296/image/upload/v1643151716/clock_a2vwhn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.clock_date {
    text-align: center;
}

.clock_hourhand {
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
}

.clock_minutehand {
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
}


.clock_secondhand {
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
}